*.csv
*.dat
*.iml
*.log
*.png
scripts/*/*.json
*.pdf
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/datasources.*.json
server/config.*.json
server/middleware.*.json
client

*.development.json
*.production.json
tagger-exports.sh

conciliacion/processed/
*jpg
*pdf
.env
*.orig
templates.json
*.zip
data
config.json
current_index.json
data.json
